.my-image {
  object-fit: fill;
  -o-object-fit: fill;
  width: 100%;
  height: 100%;
  -moz-user-select: none; /* 火狐 */
  -webkit-user-select: none; /* 谷歌 */
  -ms-user-select: none; /* IE */
  user-select: none;
}
.my-text {
  -moz-user-select: none; /* 火狐 */
  -webkit-user-select: none; /* 谷歌 */
  -ms-user-select: none; /* IE */
  user-select: none;
}
